*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    background-color:#8D8D8D ;
    min-height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.drum-box{
    
    border: 5px solid orange;
    width: 660px;
    height: 260px;
}

.key-box{
    display: flex;
    max-width: 50%;
}

.key{
    color: white;
    font-size: 1.2rem;
    width: 100;
    height: 80;
    background-color: #808080;
    margin: 10px;
    padding: 20px;
}