*{
    margin: 0;
    padding: 0;
}

.container-fluid{
    display: flex;
    background-color:#8D8D8D ;
    min-height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.drum-box{
    
    border: 5px solid orange;
    width: 660px;
    height: 350px;
}

.key-box{
    margin-left: 10px;
  
}

.key{
    color: white;
    font-size: 1.2rem;
    width: 100px;
    height: 80px;
    background-color: #808080;
    margin: 5px;
    padding: 20px;
    text-align: center;
}